* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Lato', 'Noto Sans KR';
    color: #666;
}

a {
    outline: none;
    color: #666;
}

a:link,
a:visited {
    color: #666;
}

/*      상단 네비게이션        */

#header {
    height: 85px;
    background-color: #121213;
    padding: 0 80px;
    position: fixed;
    z-index: 9999;
    width: 100%;
}

.headerBox {
    position: relative;

}

#topNav h1 {
    float: left;
    font-size: 0;
    margin-top: 20px;
}

#topNav h1 a {
    display: inline-block;
    font-size: 0;
    width: 166px;
    height: 48px;
    background-image: url(../images/main/logoW.png);
    background-repeat: no-repeat;
}

#gnb ul {
    float: right;
}

#gnb ul li {
    float: left;
    margin-left: 100px;
    margin-top: 30px;
}

#gnb ul li a {
    font-weight: 900;
    font-size: 1.3em;
    color: #ddd;
}

#gnb ul li a:hover {
    color: #fff;
}

footer {
    background-color: #35373a;
}

.fList li {
    float: left;
    width: 19%;
    text-align: center;
    color: #696b70;
    padding: 80px 10px;
}

.fList li i {
    font-size: 3em;

    width: 50px;
    height: 50px;
}

.fList li p {
    padding-top: 10px;
    color: #c9cacb;
}

.copy {
    clear: both;
    text-align: center;
    background-color: #000;
    color: #f2f2f2;
    display: block;
    padding: 10px 0;
}

.sideBar {
    color: #f2f2f2;
    display: inline-block;
    float: right;
    font-size: 2.5em;
    margin-top: 15px;
    cursor: pointer;
    display: none;

}

.sideMenu {
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: none;
}

.sideList li:hover,
.sideList li:active {
    background-color: #666;
}

.sideList li {
    float: left;
    width: 25%;
    text-align: center;
    background-color: #121213
}

.sideList li a {
    color: #f2f2f2;
    display: block;
    padding: 20px 40px;
}

.imgBox {
    clear: both;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.4);
    height: 980px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.scrollB {
    position: absolute;
    bottom: 60px;
    width: 100px;
    height: 80px;
    margin: auto;
    color: white;
    left: calc(50% - 25px);
    font-size: 4em;
    animation-name: arrow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes arrow {
    0% {
        bottom: 60px;
    }

    50% {
        bottom: 20px;
    }

    100% {
        bottom: 60px;
    }
}

@media screen and (max-width:1130px) {
    #header{
        padding: 0 20px;
    }
    #gnb {
        display: none;
    }

    .sideBar {
        display: block;
    }

    .wList li {
        width: 100%;
    }

    .portList li {
        width: 50%;
    }
    .sideList li{
        float: none;
        width: 100%;
     }
     
}

@media screen and (max-width:700px){
       .fList li {
            float: left;
            width: 50%;
            text-align: center;
            color: #696b70;
            padding:20px 10px;
        }
    .fList li:last-child{
        width: 100%;
    }
}
